{% extends "base.html" %}
{% block content %} 
    <ul>
        {% for quote in quotes %}
            <li><a href="/quotes/{{ loop.index0 }}"> {{ quote.quote }}</a></li>
        {% endfor %}
    </ul>
{% endblock content %}